<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WindowsFormsApp2.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WindowsFormsApp2.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="WindowsFormsApp2.Properties.Settings.ImsaAdminDevConnectionString"
            connectionString="Data Source=imsaregistration.database.windows.net;Initial Catalog=ImsaAdminDev;User ID=HardCardPrinter;Password=TyGe7q6hSPBa"
            providerName="System.Data.SqlClient" />
        <add name="WindowsFormsApp2.Properties.Settings.ImsaAdminDevConnectionString1"
            connectionString="Data Source=imsaregistration.database.windows.net;Initial Catalog=ImsaAdminDev;Persist Security Info=True;User ID=imsaAdmin;Password=UHEvB2HCazSx"
            providerName="System.Data.SqlClient" />
        <add name="WindowsFormsApp2.Properties.Settings.Connection_String"
            connectionString="Data Source=imsaregistration.database.windows.net;Initial Catalog=ImsaAdminDev;Persist Security Info=True;User ID=imsaAdmin;Password=UHEvB2HCazSx"
            providerName="System.Data.SqlClient" />
        <add name="WindowsFormsApp2.Properties.Settings.Conn_String"
            connectionString="Data Source=imsaregistration.database.windows.net;Initial Catalog=ImsaAdminDev;Persist Security Info=True;User ID=imsaAdmin"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <WindowsFormsApp2.Properties.Settings>
            <setting name="Selection_Form_Height" serializeAs="String">
                <value>664</value>
            </setting>
            <setting name="Selection_Form_Width" serializeAs="String">
                <value>606</value>
            </setting>
            <setting name="Next_Selection_Form_Height" serializeAs="String">
                <value>664</value>
            </setting>
            <setting name="Next_Selection_Form_Width" serializeAs="String">
                <value>606</value>
            </setting>
            <setting name="AC_Photo_Form_Height" serializeAs="String">
                <value>681</value>
            </setting>
            <setting name="AC_Photo_Form_Width" serializeAs="String">
                <value>903</value>
            </setting>
            <setting name="Next_AC_Photo_Form_Height" serializeAs="String">
                <value>681</value>
            </setting>
            <setting name="Next_AC_Photo_Form_Width" serializeAs="String">
                <value>903</value>
            </setting>
            <setting name="AC_Timed_Form_Height" serializeAs="String">
                <value>521</value>
            </setting>
            <setting name="AC_Timed_Form_Width" serializeAs="String">
                <value>913</value>
            </setting>
            <setting name="Next_AC_Timed_Form_Height" serializeAs="String">
                <value>521</value>
            </setting>
            <setting name="Next_AC_Timed_Form_Width" serializeAs="String">
                <value>913</value>
            </setting>
            <setting name="Member_Form_Height" serializeAs="String">
                <value>521</value>
            </setting>
            <setting name="Member_Form_Width" serializeAs="String">
                <value>886</value>
            </setting>
            <setting name="Next_Member_Form_Height" serializeAs="String">
                <value>521</value>
            </setting>
            <setting name="Next_Member_Form_Width" serializeAs="String">
                <value>886</value>
            </setting>
            <setting name="SEC_Form_Height" serializeAs="String">
                <value>587</value>
            </setting>
            <setting name="SEC_Form_Width" serializeAs="String">
                <value>606</value>
            </setting>
            <setting name="Next_SEC_Form_Height" serializeAs="String">
                <value>587</value>
            </setting>
            <setting name="Next_SEC_Form_Width" serializeAs="String">
                <value>606</value>
            </setting>
            <setting name="Notes_Form_Height" serializeAs="String">
                <value>448</value>
            </setting>
            <setting name="Notes_Form_Width" serializeAs="String">
                <value>481</value>
            </setting>
            <setting name="Next_Notes_Form_Height" serializeAs="String">
                <value>448</value>
            </setting>
            <setting name="Next_Notes_Form_Width" serializeAs="String">
                <value>441</value>
            </setting>
            <setting name="Selection_Form_Location" serializeAs="String">
                <value>2, 2</value>
            </setting>
        </WindowsFormsApp2.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <WindowsFormsApp2.Properties.Settings>
            <setting name="SEC_Name_rect" serializeAs="String">
                <value>1, 270, 220, 17</value>
            </setting>
            <setting name="Season" serializeAs="String">
                <value>2020</value>
            </setting>
            <setting name="AC_License_Type_rect1" serializeAs="String">
                <value>10, 216, 197, 17</value>
            </setting>
            <setting name="AC_Name_rect2" serializeAs="String">
                <value>10, 242, 197, 17</value>
            </setting>
            <setting name="AC_Association_rect3" serializeAs="String">
                <value>10, 260, 197, 17</value>
            </setting>
            <setting name="AC_Member_Number_rect4" serializeAs="String">
                <value>10, 309, 197, 17</value>
            </setting>
            <setting name="Member_License_Type_rect1" serializeAs="String">
                <value>-325, 122, 315, 17</value>
            </setting>
            <setting name="Member_Name_rect2" serializeAs="String">
                <value>-325, 110, 315, 17</value>
            </setting>
            <setting name="Member_Member_Number_rect4" serializeAs="String">
                <value>-325, 140, 315, 17</value>
            </setting>
            <setting name="AC_PictureBox_Placement" serializeAs="String">
                <value>62, 73, 103, 120</value>
            </setting>
            <setting name="AC_Barcode_Placement" serializeAs="String">
                <value>26, 278, 165, 20</value>
            </setting>
        </WindowsFormsApp2.Properties.Settings>
    </applicationSettings>
</configuration>